* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body * {
  font-family: 'Inter', sans-serif;
  color: #ffffff;
}

body {
  background-image: url(./assets/bg-mobile.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

#container {
  width: 360px;
  margin: 56px auto 0px;
  padding: 0 24px;
}
#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
  margin: auto;
  border-radius: 50%;

}

#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

ul li a{
  background: rgba(255, 255, 255, 0.10);
  border: 1px solid var(--stroke-color-dark-mode, rgba(255, 255, 255, 0.50));
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  -webkit-backdrop-filter: blur(4px);
  text-decoration: none;
  font-weight: 500;
  transition: background .2s;
}

ul li a:hover {
  background: rgba(255, 255, 255, 0.05);
  border: 1.5px solid white

}